
/* MISC
---------------------------------------------------------------------------------------------------- */

/* Behavior
--------------------------------------------------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(#000, 0);
}

*::before,
*::after {
    -webkit-touch-callout: none;
    user-select: none;
}

.noselect,
.dragging * {
    -webkit-touch-callout: none;
    user-select: none;
}

.scrolling * { pointer-events: none !important; }

::selection      { color: #fff; background: rgba($c-int-orange, .99); }
::-moz-selection { color: #fff; background: rgba($c-int-orange, .99); }

img::selection      { background: rgba($c-int-orange, .6); }
img::-moz-selection { background: rgba($c-int-orange, .6); }

.hidden { display: none !important; }

.visually-hidden {
    @include visuallyhidden();
}

.link-target {
    > * {
        pointer-events: none;
    }
}




/* Structure
--------------------------------------------------------- */

:root {
    // Sizes
    --vh: 1vh;
    --vw: 1vw;
    --vpW: 100vw;
    --vpH: 100vh;
    --sbW: 15px;
}

html {
    width: 100%;
    height: 100%;
}

body {
    // overflow-y: scroll;
    width: 100%;

    text-rendering: optimizeLegibility;
    @include font-smoothing(on);
    font-family: $f-lato;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 3.3rem;
    color: $c-black;


    // MQ
    @include minw($bp-mobile + 1) {
        font-size: 1.8rem;
    }
}

#content {
    // min-height: calc(100vh - #{$s-nav-height + $s-footer-height});
    // min-height: calc(var(--vpH) - #{$s-nav-height + $s-footer-height});

    min-height: calc(100vh - #{$s-nav-height});
    min-height: calc(var(--vpH) - #{$s-nav-height});
}