
/* MISC
---------------------------------------------------------------------------------------------------- */


/* ABBREVIATION
--------------------------------------------------------- */

abbr[title],
abbr:hover {
    text-decoration: none;

    border: none;
}

